#Import Libraries

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
from geopy import distance

#Importing Data

In [ ]:
df = pd.read_csv('YourCabs_training.csv')

In [ ]:
data=df.drop(['Car_Cancellation','Cost_of_error'],axis=1) #Dropping Target columns

In [ ]:
target=df[['Car_Cancellation']]

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43431 entries, 0 to 43430
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   43431 non-null  int64
 1   user_id              43431 non-null  int64
 2   vehicle_model_id     43431 non-null  int64
 3   package_id           7550 non-null   float64
 4   travel_type_id       43431 non-null  int64
 5   from_area_id         43343 non-null  float64
 6   to_area_id           34293 non-null  float64
 7   from_city_id         16345 non-null  float64
 8   to_city_id           1588 non-null   float64
 9   from_date            43431 non-null  object
 10  to_date              25541 non-null  float64
 11  online_booking       43431 non-null  int64
 12  mobile_site_booking  43431 non-null  int64
 13  booking_created      43431 non-null  object
 14  from_lat             43338 non-null  float64
 15  from_long            43338 non-null  float64
 16  to_lat               34293 non-null  float64
 17  to_long              34293 non-null  float64
dtypes: float64(10), int64(6), object(2)
memory usage: 6.0+ MB

In [ ]:
data.isnull().mean()

id                     0.000000
user_id                0.000000
vehicle_model_id       0.000000
package_id             0.826161
travel_type_id         0.000000
from_area_id           0.002026
to_area_id             0.210403
from_city_id           0.623656
to_city_id             0.963436
from_date              0.000000
to_date                0.411918
online_booking         0.000000
mobile_site_booking    0.000000
booking_created        0.000000
from_lat               0.002141
from_long              0.002141
to_lat                 0.210403
to_long                0.210403
dtype: float64

# Data Cleaning

In [ ]:
data=data.drop(['id','user_id','package_id','to_area_id','from_city_id','to_city_id','to_date'],axis=1)
#Dropping Identity columns
#Dropping on null percentage >40
#Dropping to_area_id as of no scope

In [ ]:
data['vehicle_model_id'].value_counts(normalize=True)*100

12    73.355437
85     5.542124
89     5.505284
65     4.402385
28     3.918860
24     3.439939
87     1.300914
90     0.718381
23     0.683843
86     0.283208
10     0.239460
64     0.195713
54     0.168083
17     0.092100
91     0.057563
30     0.032235
36     0.020723
13     0.016118
72     0.004605
1      0.004605
43     0.004605
14     0.002303
69     0.002303
76     0.002303
75     0.002303
70     0.002303
39     0.002303
Name: vehicle_model_id, dtype: float64

In [ ]:
data=data.drop(['vehicle_model_id'],axis=1) #Dropping as single value has more percentage

In [ ]:
data.head()

   travel_type_id  from_area_id      from_date  ...  from_long     to_lat    to_long
0               2          83.0  1/1/2013 2:00  ...  77.672290  12.927320  77.635750
1               2        1010.0  1/1/2013 9:00  ...  77.749350  12.927680  77.626640
2               2        1301.0  1/1/2013 3:30  ...  77.626915  13.047926  77.597766
3               2         768.0  1/1/2013 5:45  ...  77.553320  12.971430  77.639140
4               2        1365.0  1/1/2013 9:00  ...  77.677925  12.954340  77.600720

[5 rows x 10 columns]

#Data Transforming

In [ ]:
print(data[data['from_lat'] == data['from_lat'].median()]['from_area_id'].max())
print(data['from_lat'].median())
print(data['from_long'].median())

1044.0
12.968887
77.63575

In [ ]:
data['from_lat'] = data['from_lat'].fillna(data['from_lat'].median())
data['from_long'] = data['from_long'].fillna(data['from_long'].median())

In [ ]:
data['from_area_id'] = data['from_area_id'].fillna(data[data['from_lat'] == data['from_lat'].median()]['from_area_id'].max())

In [ ]:
data['to_lat'] = data['to_lat'].fillna(df.groupby('from_area_id')['to_lat'].transform('median'))
#Fill na with median for Continuous data and mode for Discrete data

In [ ]:
data['to_long'] = data['to_long'].fillna(df.groupby('from_area_id')['to_long'].transform('median'))
#Fill na with median for Continuous data and mode for Discrete data

In [ ]:
data[data['to_lat'].isnull()].head()

      travel_type_id  from_area_id        from_date  ...  from_long  to_lat to_long
2158               1         483.0   1/25/2013 6:00  ...   77.56333     NaN     NaN
3945               1        1397.0  2/10/2013 16:30  ...   77.63575     NaN     NaN
4912               1        1397.0   2/23/2013 6:30  ...   77.63575     NaN     NaN
5144               1        1397.0  2/22/2013 13:30  ...   77.63575     NaN     NaN
5970               1        1397.0    3/4/2013 7:00  ...   77.63575     NaN     NaN

[5 rows x 10 columns]

In [ ]:
data[data['to_lat'].isnull()]['from_area_id'].value_counts()

1397.0    90
1396.0     3
173.0      2
17.0       2
483.0      1
1215.0     1
1265.0     1
215.0      1
1080.0     1
802.0      1
1164.0     1
178.0      1
Name: from_area_id, dtype: int64

In [ ]:
print(data['to_lat'].median())
print(data['to_long'].median())

12.98999
77.649047

In [ ]:
data['to_lat'] = data['to_lat'].fillna(data['to_lat'].median())
data['to_long'] = data['to_long'].fillna(data['to_long'].median())

In [ ]:
data[data['from_area_id']==571.0].head(10)

     travel_type_id  from_area_id  ...     to_lat   to_long
6                 1         571.0  ...  12.986284  77.65530
43                2         571.0  ...  13.199560  77.70688
78                2         571.0  ...  13.199560  77.70688
156               2         571.0  ...  13.028530  77.54625
159               2         571.0  ...  12.976770  77.57270
212               3         571.0  ...  12.986284  77.65530
225               2         571.0  ...  13.199560  77.70688
261               2         571.0  ...  12.907960  77.62418
278               3         571.0  ...  12.986284  77.65530
297               2         571.0  ...  13.022390  77.59492

[10 rows x 10 columns]

In [ ]:
data.isnull().mean()

travel_type_id         0.0
from_area_id           0.0
from_date              0.0
online_booking         0.0
mobile_site_booking    0.0
booking_created        0.0
from_lat               0.0
from_long              0.0
to_lat                 0.0
to_long                0.0
dtype: float64

In [ ]:
data.shape

(43431, 10)

In [ ]:
traveltype = pd.get_dummies(data['travel_type_id'],drop_first=True)
#One Hot Encoding if number of distinct values is more than 5
#Label Encoding if number of distinct values is less than 5

In [ ]:
data = pd.concat([data,traveltype],axis=1)
data = data.drop(['travel_type_id'],axis=1)

In [ ]:
data.rename(columns={2:'traveltype_pointtopoint',3:'traveltype_hourly'},inplace=True)

In [ ]:
def cal_distance(from_lat,from_long,to_lat,to_long):
  return distance.distance((from_lat,from_long),(to_lat,to_long)).km

In [ ]:
data['distance'] = data.apply(lambda row: cal_distance(row['from_lat'],row['from_long'],row['to_lat'],row['to_long']),axis=1)

In [ ]:
data[data['distance'] < 0]

Empty DataFrame
Columns: [from_area_id, from_date, online_booking, mobile_site_booking, booking_created, from_lat, from_long, to_lat, to_long, traveltype_pointtopoint, traveltype_hourly, distance]
Index: []

In [ ]:
data = data.drop(['from_lat','from_long','to_lat','to_long'],axis=1)

In [ ]:
data['from_date_dt'] = pd.to_datetime(data['from_date']).dt.strftime('%m/%d/%Y')
data['from_time_tm'] = pd.to_datetime(data['from_date']).dt.strftime('%H:%M')
data['booking_created_dt'] = pd.to_datetime(data['booking_created']).dt.strftime('%m/%d/%Y')
data['booking_created_tm'] = pd.to_datetime(data['booking_created']).dt.strftime('%H:%M')

In [ ]:
data['from_date_day'] = pd.to_datetime(data['from_date_dt']).dt.day_name()
data['booking_created_day'] = pd.to_datetime(data['booking_created_dt']).dt.day_name()
data['from_date_month'] = pd.to_datetime(data['from_date_dt']).dt.month_name()
data['booking_created_month'] = pd.to_datetime(data['booking_created_dt']).dt.month_name()
data['from_date_week'] = np.where((data['from_date_day']=='Saturday') | (data['from_date_day']=='Sunday'),'Weekend','Weekday',)
data['booking_created_week'] = np.where((data['booking_created_day']=='Saturday') | (data['booking_created_day']=='Sunday'),'Weekend','Weekday',)

In [ ]:
cond = [(pd.to_datetime(data['from_time_tm']).dt.hour.between(5, 8)),
        (pd.to_datetime(data['from_time_tm']).dt.hour.between(9, 12)),
        (pd.to_datetime(data['from_time_tm']).dt.hour.between(13, 16)),
        (pd.to_datetime(data['from_time_tm']).dt.hour.between(17, 20)),
        ((pd.to_datetime(data['from_time_tm']).dt.hour.between(21, 24)) | (pd.to_datetime(data['from_time_tm']).dt.hour==0)),
        (pd.to_datetime(data['from_time_tm']).dt.hour.between(1, 4))]
values = ['Early Morning','Morning','Afternoon','Evening','Night','Late Night']
data['from_date_session'] = np.select(cond,values)

In [ ]:
cond = [(pd.to_datetime(data['booking_created_tm']).dt.hour.between(5, 8)),
        (pd.to_datetime(data['booking_created_tm']).dt.hour.between(9, 12)),
        (pd.to_datetime(data['booking_created_tm']).dt.hour.between(13, 16)),
        (pd.to_datetime(data['booking_created_tm']).dt.hour.between(17, 20)),
        ((pd.to_datetime(data['booking_created_tm']).dt.hour.between(21, 24)) | (pd.to_datetime(data['booking_created_tm']).dt.hour==0)),
        (pd.to_datetime(data['booking_created_tm']).dt.hour.between(1, 4))]
values = ['Early Morning','Morning','Afternoon','Evening','Night','Late Night']
data['booking_created_session'] = np.select(cond,values)

In [ ]:
data['time_diff'] = (pd.to_datetime(data['from_date']) - pd.to_datetime(data['booking_created'])).astype('timedelta64[m]')

In [ ]:
data[data['time_diff'] < 0].head()

      from_area_id        from_date  ...  booking_created_session  time_diff
1763        1298.0  1/20/2013 14:15  ...                Afternoon      -46.0
2990         393.0    2/1/2013 9:45  ...                Afternoon     -213.0
4228         571.0  2/13/2013 18:00  ...                  Evening      -29.0
5303        1068.0  2/23/2013 18:00  ...                  Evening       -3.0
6106        1010.0    3/4/2013 0:30  ...               Late Night      -90.0

[5 rows x 21 columns]

In [ ]:
data[data['time_diff'] < 0]['time_diff'].count()

42

In [ ]:
data = data.drop(['from_date','booking_created'],axis=1)

In [ ]:
data = data.drop(['from_date_dt','from_time_tm','booking_created_dt','booking_created_tm'],axis=1)

In [ ]:
data_merged = pd.concat([data,target],axis=1,join='inner')
data['from_area_id'] = round(data_merged.groupby('from_area_id')['Car_Cancellation'].sum()/data_merged.groupby('from_area_id')['Car_Cancellation'].count(),2)
data['from_area_id'].replace(np.nan,0,inplace=True)

In [ ]:
cond = [(data['from_area_id'].astype('float').between(0,0.33)),
        (data['from_area_id'].astype('float').between(0.34,0.66)),
        (data['from_area_id'].astype('float').between(0.67,1.0))]
values = ['Low Cancellation','Medium Cancellation','High Cancellation']
data['from_area_id'] = np.select(cond,values)

#Data Visualization

In [ ]:
data.head()

       from_area_id  online_booking  ...  booking_created_session  time_diff
0  Low Cancellation               0  ...               Late Night       21.0
1  Low Cancellation               0  ...               Late Night      395.0
2  Low Cancellation               0  ...               Late Night       22.0
3  Low Cancellation               0  ...               Late Night       66.0
4  Low Cancellation               0  ...            Early Morning       67.0

[5 rows x 15 columns]

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43431 entries, 0 to 43430
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   from_area_id             43431 non-null  object
 1   online_booking           43431 non-null  int64
 2   mobile_site_booking      43431 non-null  int64
 3   traveltype_pointtopoint  43431 non-null  uint8
 4   traveltype_hourly        43431 non-null  uint8
 5   distance                 43431 non-null  float64
 6   from_date_day            43431 non-null  object
 7   booking_created_day      43431 non-null  object
 8   from_date_month          43431 non-null  object
 9   booking_created_month    43431 non-null  object
 10  from_date_week           43431 non-null  object
 11  booking_created_week     43431 non-null  object
 12  from_date_session        43431 non-null  object
 13  booking_created_session  43431 non-null  object
 14  time_diff                43431 non-null  float64
dtypes: float64(2), int64(2), object(9), uint8(2)
memory usage: 4.4+ MB

In [ ]:
data['from_area_id'].value_counts()

Low Cancellation       43415
Medium Cancellation       11
High Cancellation          5
Name: from_area_id, dtype: int64

#Data Encoding

In [ ]:
num = data.select_dtypes(include='number')
char = data.select_dtypes(include='object')

In [ ]:
num.head()

   online_booking  mobile_site_booking  ...   distance  time_diff
0               0                    0  ...   3.980687       21.0
1               0                    0  ...  14.004432      395.0
2               0                    0  ...  12.648909       22.0
3               0                    0  ...   9.534596       66.0
4               0                    0  ...  14.655467       67.0

[5 rows x 6 columns]

In [ ]:
char.head()

       from_area_id from_date_day  ... from_date_session booking_created_session
0  Low Cancellation       Tuesday  ...        Late Night              Late Night
1  Low Cancellation       Tuesday  ...           Morning              Late Night
2  Low Cancellation       Tuesday  ...        Late Night              Late Night
3  Low Cancellation       Tuesday  ...     Early Morning              Late Night
4  Low Cancellation       Tuesday  ...           Morning           Early Morning

[5 rows x 9 columns]

In [ ]:
X_char_dum = pd.get_dummies(char, drop_first = True)
X_char_dum.shape

(43431, 47)

In [ ]:
X_char_dum.head()

   from_area_id_Low Cancellation  ...  booking_created_session_Night
0                              1  ...                              0
1                              1  ...                              0
2                              1  ...                              0
3                              1  ...                              0
4                              1  ...                              0

[5 rows x 47 columns]

In [ ]:
data_all = pd.concat([num,X_char_dum],axis=1,join='inner')

In [ ]:
data_all.head()

   online_booking  ...  booking_created_session_Night
0               0  ...                              0
1               0  ...                              0
2               0  ...                              0
3               0  ...                              0
4               0  ...                              0

[5 rows x 53 columns]